    <div>
        <footer>
            <div class="container">
                <div class="row">
                    this is social webiste
                </div>
            </div>
        </footer>    
    </div>
    <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reply</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <form onsubmit="return doPostReply(this);">
                        <input type="hidden" name="postId">
                        <input type="hidden" name="commentId">
                        <textarea name="reply" placeholder="Post your reply" required></textarea>
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/main.min.js"></script>
    <script src="/public/js/socket.io.js"></script>
    
    
    <script>
            window.user = null;
            var socketIO = io('http://localhost:3000');
            function getUser(){
                if (localStorage.getItem("accessToken")) {
                    // localStorage.removeItem("accessToken")
                    console.log(localStorage.getItem("accessToken"));
                    var ajax = new XMLHttpRequest();
                    ajax.open('POST','/getuser', true);
    
                    ajax.onreadystatechange = function(){
                        if (this.readyState == 4 && this.status == 200) {
                                var response = JSON.parse(this.responseText);
                                if (response.status == "success") {
                                    window.user = response.data
                                    console.log(window.user,"fromfooter");
                                    if (typeof isUpdateProfile !== "undefined" && isUpdateProfile) {
                                        showProfileData();                                    
                                    }
                                    if (typeof isHomePage !=="undefined" && isHomePage) {
                                        showAddPost();
                                        showNewsfeed();
                                    }

                                    if (typeof isSearchResults !== "undefined" && isSearchResults) {
                                        showSearchResults();
                                    }
                                    if (typeof isFriends !== "undefined" && isFriends) {
                                        showFriends();
                                        storeFriendsLength();
                                    }
                                    if (typeof isPages !== "undefined" && isPages) {
                                        getPages();
                                    }
                                    if (typeof isPageDetail !== "undefined" && isPageDetail) {
                                        getPageDetail();
                                    }
                                    if (typeof isRightSidebar !== "undefined" && isRightSidebar) {
                                        getMyPages();
                                    }
                                    if (typeof isGroups !== "undefined" && isGroups) {
                                        getGroups();
                                    }
                                    if (typeof isGroupDetail !== "undefined" && isGroupDetail) {
                                        getGroupDetail();
                                    }
                                    if (typeof isNotifications !== "undefined" && isNotifications) {
                                        showNotifications();
                                        storeNotificationLength();//present in header
                                    }
                                }else{
                                    localStorage.removeItem("accessToken")
                                }
                            showMainMenu();
                    // updateNotificationLength();

                        }
                    }
                    var formData = new FormData();
                    formData.append("accessToken", localStorage.getItem("accessToken"));
                    ajax.send(formData)
    
                }else{
                    console.log("user not logged in");
                    showMainMenu();
                }
            }
    
            function showMainMenu(){
                var html = "";
                console.log(localStorage.getItem("accessToken"));
                if (localStorage.getItem("accessToken")) {
                    html += '<li>';
                    html += '<a href="/pages">Pages</a>';
                    html += '</li>';
                    html += '<li>';
                    html += '<a href="/groups">Groups</a>';
                    html += '</li>';
                    html += '<li>';
                    html += '<a href="/updateprofile">Profile</a>';
                    html += '</li>';
                    html += '<li>';
                    html += '<a href="/logout" onClick="return doLogout()">Logout</a>';
                    html += '</li>';
                } else {
                    html += '<li>';
                    html += '<a href="/login">Login</a>';
                    html += '</li>';
                    html += '<li>';
                    html += '<a href="/signup">Signup</a>';
                    html += '</li>';
                }
                document.getElementById('main-menu').innerHTML = html;
            }
       
            function doLogout(){
                // storeNotificationLength();
                localStorage.removeItem("accessToken");
                localStorage.removeItem("showNotificationLength");
                localStorage.removeItem("showFriendsLength");
                return true; 
                // alert("pls logout")
            }
            
            window.onload = function(){
                getUser();
                // updateNotificationLength();
            }
            window.onerror = function(file, line, error){
                alert(file + "" + line + "" + error,"footer erro")
            }
         
    </script>
</body>
</html>