<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-user"></i>
				<a href="/friends">Friends</a>
				<!-- <i class="fa fa-star">Premium</i> -->
			</li>

			<li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Inbox</a>
				<!-- <i class="fa fa-star">Premium</i> -->
			</li>

			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">Notifications <span class="badge" id="notifications-badge"></span></a>
			</li>
			<li>
				<i class="ti-files"></i>
				<a href="/createPage">Create Page</a>
			</li>
		</ul>
	</div>
</aside>