<html>
    <head>
        <title>Social Network</title>
        <!-- <link rel="stylesheet" href="/css/main.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/color.css">
        <link rel="stylesheet" href="/css/responsive.css"> -->
        <link rel="stylesheet" href="/public/css/main.min.css">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/color.css">
        <link rel="stylesheet" href="/public/css/responsive.css">
        
    </head>
    <body  style="background-image: url('../public/img/background.gif');background-repeat: no-repeat;background-position: right;">
        <div class="theme-layout"  style="margin-left: -300px;">
            <div class="container-fluid pdng0">
                <div class="row merged"> 
                    <div class="offset-md-3 col-md-6">
                        <div class="login-reg-bg">
                            <div class="log-reg-area sign">
                                <h2 class="log-title">Signup</h2>
                                <form onsubmit="return doRegister(this);">
                                    <div class="form-group">
                                        <input type="text" name="name" required/>
                                        <label class="control-label">Full Name</label>
                                        <i class="mtrl-select"></i>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="username" required/>
                                        <label class="control-label">User Name</label>
                                        <i class="mtrl-select"></i>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" required/>
                                        <label class="control-label">Email</label>
                                        <i class="mtrl-select"></i>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" required/>
                                        <label class="control-label">Password</label>
                                        <i class="mtrl-select"></i>
                                    </div>
                                    <div class="form-radio">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="gender" value="Male" checked>
                                                <i class="check-box"></i>Male
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="gender" value="Female" checked>
                                                <i class="check-box"></i>Female
                                             </label>
                                        </div>
                                    </div>
                                    <a href="/login">Already have an account, Click here!</a>
                                    <div class="submit-btns">
                                        <button  class="mtr-btn signup" name="submit">
                                            <span>register</span>
                                        </button>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function doRegister(form){
                form.submit.setAttribute("disabled","disabled");
                form.submit.innerHTML = "<span>Loading...<span>";

                    var ajax = new XMLHttpRequest();
                        ajax.open("POST","/signup", true)
                    ajax.onreadystatechange = function(){
                        if (this.status === 200 && this.readyState == 4) {
                            form.submit.removeAttribute("disabled");
                            form.submit.innerHTML = "<span>Regitster</span>";
                            var response = JSON.parse(this.responseText);
                            // console.log(this.responseURL);

                            alert(response.message);

                            if (response.status == "success") {
                                window.location.href = "/login"                                  
                            }
                        }
                    }
                    console.log(new FormData(form));
                ajax.send(new FormData(form))    
                return false; 
            }
        </script>
    </body>

</html>